@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
  background: url("images/433tower.png") center repeat-y, linear-gradient(180deg, #230033 0%, #331c9c 42%, #cd87e0 66%, #00d4ff 100%);
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
}


img {

}

.rotate {
  transition: transform 30s ease-in-out;
}

.rotate:hover {
  transform: rotate(360deg);
}

.fade {
opacity:0.60;
transition: opacity 3s;
}

.fade:hover {
opacity:1;
}

h1 {
  font-family: 'Milonga', cursive;
  font-size: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color:white;
  text-shadow: 2px 2px 4px #000000;

}

h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 32px;
  padding:0px;
  margin:0px;
}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    text-align:right;
    font-size: 32px;
    padding:0px;
    margin:0px;
}

p {
  margin:0px;
}

.left {
  text-align: justify;
  text-align-last: left;
}

.right {
  text-align: justify;
  text-align-last: right;
}

.container {
  display: grid;
  grid-template-columns: auto 30% 30% 30% auto;
  grid-template-rows: auto;
  grid-template-areas:
  ". a1 e1 a4  ."
  ". a . b ."
  ". c . d ."
  ". a2 e a3 ."
  ". f g h ."
  ". . e3 . ."
  ". i . j ."
  ". a5 e2 a6 ."
  ". k . l ."
  ". m . n ."
  ". o . p .";
  grid-gap: 0px;
  padding: 0px;
  margin:0px;

}

.item-e1 {
  grid-area: e1;
  justify-self:center;
  align-self:center;
  color:white;
  margin:0px;
  padding:0px;
}

.item-e2 {
  grid-area: e2;
  justify-self:center;
  align-self:center;
  color:white;
  margin:0px;
  padding:0px;
}

.item-e3 {
  grid-area: e3;
  justify-self:center;
  align-self:center;
  color:white;
  margin:0px;
  padding:0px;
}

.item-a1 {
  grid-area: a1;
  justify-self:center;
  align-self:center;
  color:white;
  margin:0px;
  padding:0px;
}

.item-a4 {
  grid-area: a4;
  justify-self:center;
  align-self:center;
  color:white;
  margin:0px;
  padding:0px;
}

.item-a5 {
  grid-area: a5;
  justify-self:center;
  align-self:center;
  color:#331c9c;
  margin:0px;
  padding:0px;
}

.item-a6 {
  grid-area: a6;
  justify-self:center;
  align-self:center;
  color:#331c9c;
  margin:0px;
  padding:0px;
}

.item-a2 {
  grid-area: a2;
  justify-self:center;
  align-self:center;
  color:white;
}

.item-a3 {
  grid-area: a3;
  justify-self:center;
  align-self:center;
  color:white;
}

.item-a {
  grid-area: a;
  justify-self:center;
  align-self:center;
}
.item-b {
  grid-area: b;
  justify-self:center;
  align-self:center;
}
.item-c {
  grid-area: c;
  color:white;
  justify-self:center;
  align-self:center;
}
.item-d {
  grid-area: d;
  color:white;
  justify-self:center;
  align-self:center;
}
.item-e {
  grid-area: e;
  justify-self:center;
  align-self:center;
}
.item-f {
  grid-area: f;
  justify-self:center;
  align-self:center;
}
.item-g {
  grid-area: g;
  justify-self:center;
  align-self:center;
}
.item-h {
  grid-area: h;
  justify-self:center;
  align-self:center;
}
.item-i {
  grid-area: i;
  color:white;
  justify-self:center;
  align-self:center;
}

.item-j {
  grid-area: j;
  color:White;
  justify-self:center;
  align-self:center;
}

.item-k {
  grid-area: k;
  color:White;
  justify-self:center;
  align-self:center;
}

.item-l {
  grid-area: l;
  color:#331c9c;
  justify-self:center;
  align-self:center;
}

.item-m {
  grid-area: m;
  color:#331c9c;
  justify-self:center;
  align-self:center;
}

.item-n {
  grid-area: n;
  color:White;
  justify-self:center;
  align-self:center;
}

.item-o {
  grid-area: o;
  color:White;
  justify-self:center;
  align-self:center;
}

.item-p {
  grid-area: p;
  color:#331c9c;
  justify-self:center;
  align-self:center;
}
